body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
    background-color: rgb(135, 206, 250); /* Fondo azul cielo claro */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background-color {
    background-color: #f0f8ff; /* Fondo azul claro */
}

.content {
    flex: 1;
}

nav {
    background-color: #1e90ff; /* Azul Dodger */
    padding: 1em;  
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    width: 75px; 
}

.nav-logo img.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em;
    margin-left: auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    background-color: #1e90ff; /* Azul Dodger */
    color: white;
    text-align: center;
    padding: 1em;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2em; /* Aumentar el tamaño del icono */
    color: white;
    transition: transform 0.5s ease; /* Animación al volver a su posición original */
}

.menu-toggle.rotate {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

.seccion-noticias {
    padding: 2em;
    background-color: transparent;
    text-align: center;
}

.seccion-noticias h2 {
    color: #ffffff; /* Azul Dodger */
    font-size: 2em;
    margin-bottom: 1em;
}

.noticias-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 1.5em;
}

.noticia-cuadro {
    background-color: white; /* Fondo blanco */
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 1.5em; /* Espacio entre los cuadros de noticias */
}

.noticia-cuadro h3 {
    color: #1e90ff; /* Azul Dodger */
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.noticia-cuadro p {
    color: #000080; /* Azul marino */
    font-size: 1em;
    margin: 0.5em 0;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .nav-logo {
        margin-bottom: 1em;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: relative; /* Asegura que el menú aparezca dentro del nav */
        top: 0;
        left: 0;
        background-color: #1e90ff; /* Azul Dodger */
        z-index: 1; /* Asegura que el menú aparezca sobre otros elementos */
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .noticias-container {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }

    .noticia-cuadro {
        grid-column: span 1; /* Ocupa una columna en pantallas pequeñas */
    }
}
